<div class="nav">
  <a href="/" class="<%= page === 'index' ? 'active' : '' %>">TOP</a>
  <a href="my" class="<%= page === 'my' ? 'active' : '' %>">自己紹介</a>
  <a href="projects" class="<%= page === 'projects' ? 'active' : '' %>">作品</a>
  <a href="contact" class="<%= page === 'contact' ? 'active' : '' %>">連絡先</a>
  <a href="updates" class="<%= page === 'updates' ? 'active' : '' %>">更新履歴</a>
  <a href="beforeBreak" class="<%= page === 'beforeBreak' ? 'active' : '' %>">履歴破壊</a>

  <% if (page === 'constructing') { %>
    <a href="constructing" class="active">建設中</a>
  <% } %>

  <% if (page === 'error') { %>
    <a href="error" class="active">404</a>
  <% } %>
</div>
