<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
  
  <p style="font-size: 25px; font-weight: bold; color: #ff0000;">
    セキュリティ上の観点から、当チャットは毎回パスワードを要求するようになっています。
  </p>
  <button class="normalButton" style="font-size: 10px;" id="hiddenB0" onclick="document.getElementById('hiddenB0').style.display = 'none'; document.getElementById('hidden0').style.display = 'inline';">
    何もないボタン()
  </button>
  <p style="font-size: 10px; display: none;" id="hidden0">
    ↑決してログアウトとかする時の処理が思いつかなかったとかめんどくさかったとかじゃないですよ?
  </p>
  <br>
  <br>
  <form method="POST" action="/login">
  <h2>
    <input class="loginText" type="text" name="username" placeholder="ユーザー名" required>
  </h2>
  <h2>
    <input class="loginText" type="password" name="password" placeholder="パスワード" required>
  </h2>
  <h2>
    <button class="blueButton20" type="submit">ログイン</button>
  </h2>
  <h3 id="f" style="color: #ff0000; display: none;">チャットを使用するにはログインが必要です。ログインしてください。</h3>
  <h3 id="e" style="color: #ff0000;"><%= err %></h3>
  <br>
  <p>
    まだアカウントをお持ちでない方は<a href="signup" style="color: #000000; padding: 0; margin: 0;">こちら</a>
  </p>
</form>
  <br>

<script>
  const params = new URLSearchParams(window.location.search);
  const f = params.get("f");
  
  if ( "<%= err %>" == "none" ){
    document.getElementById("e").style.display = "none";
  }
  if ( f == "chat" ){
    document.getElementById("f").style.display = "inline";
  }
</script>
  </div>
  
<%- include("settings/footer") %>