<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
  
  <form method="POST" action="/login">
  <input type="text" name="username" placeholder="ユーザー名" required>
  <input type="password" name="password" placeholder="パスワード" required>
  <button type="submit">ログイン</button>
</form>
<p id="e"><%= err %></p>

<script>
  if ("<%= err %>" == "none"){
    document.getElementById("e").style.display = none;
  }
</script>
  </div>
  
<%- include("settings/footer") %>